html{
    box-sizing: border-box;
}
*, *::before, *::after{
    box-sizing: inherit;
}
:root{
    --light-gray:#ffffff1a;
    --dark-gray:#ffffff00;
    --violet: #6F6EFF;
    --ligt-voilet:#9CA5EC;
    --dark-violet:#6B69F9;
    --background: #2B2C3A;
}
body{
    font-family: 'Jost';
    font-style: normal;
    font-size: 14px;
    line-height: 1px;
    font-weight: normal;
    background:  linear-gradient(135deg, #ffffff00 0%,
                                        #ffffff1a 100%, transparent 50%) fixed,
                linear-gradient(#2B2C3A,#2B2C3A) no-repeat fixed; 
    
    mix-blend-mode: normal;
    color: #FFFFFF;
    display: flex;
    flex-wrap: wrap;
    align-items:flex;
    background-size: cover;
}
/*header start*/
.header{
    position: fixed;
    top: 0;
    left: 280px;
    height: 71px;
    width: 1160px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    position: fixed;
    background: transparent;
    border-bottom: 1px solid #d8d8d81a;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 10px;
}
.nav{
    padding-left: 55px;
    padding-right: 28px;
    height: 10px;
    width: 298px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 30px;
}
.nav-item{
    height: 10px;
    list-style: none;
    
}
.nav-item a{
    font-style: normal;
    font-weight: normal;
    color: #FFFFFF;
    opacity: 0.6;
}
/*user start*/
.user{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    width: 500px;
    height: inherit;
}
.coins{
    margin-bottom: 23px;
    background: #ffffff0f;
    border-radius: 5px;
    height: 24px;
    align-items: flex-end;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 13px;
    line-height: 10px;
    padding: 7px, 9px;
}
.content{
    font-size: 13px;
    padding-left: 9px;
    padding-right: 9px;
     color: #FFFFFF;
}
.h{
    font-size: 11px;
    padding-right: 9px;
    color: #FFFFFF;
}
.hours{
    font-weight: 600;
    margin-right: 4px;
    color: #FFFFFF;
}
.energy{
    height: 18px;
    width: 18px;
    border-radius: 4px;
    background: #ff4738;
    box-shadow: 0px 0px 12px #ff473880;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    margin: 3px 10px 3px 3px;
}
.icon-header{
    height:12px;
    width:7;
    fill: #FFFFFF;
    align-self: center;
}
.user-info{
    width: 200px;
    height: 44px;
    display:flex;
    flex-wrap: wrap;
    align-items:flex-start;
    padding-bottom: 13px;
    margin-bottom: 13px;
}
.avatar{
    width: 44px;
    height: 44px;
    overflow: hidden;
}
.accaunt-box{
    width: 150px;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.username{
    font-size: 14px;
    line-height: 10px;
    color: #ffffff;
    padding: 13px, 9px;
    margin-top: 7px;
}
.status{
    margin-bottom: 7px;
    margin-top: 9px;
    color: #24CB8D;
    display:flex;
    flex-wrap: wrap;
    align-items:flex-start;
}
.accaunt{
    font-size: 11px;
    line-height: 10px;
    width: 40px;
    height: 14px;
    border-radius: 4px;
    background: linear-gradient(90deg, #6B69F9 0%, #6F6EFF 100%);
    box-shadow:  0px 0px 12px #6f6eff80;
    padding-left: 8px;
    padding-top: 2px;
    margin-top: 7px;
}
.dot{
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background: #24CB8D;
    margin-top: 3px;
    margin-right: 5px;
}
/*leftbar start*/
.left-bar{
    position: fixed;
    height: 100vh;
    width: 280px;
    flex-wrap: wrap;
    top: 0px;
    left: 0px;
    background: rgba(156, 165, 236, 0.04);
}
.logo{
    padding-left: 30px;
    padding-top: 19px;
    width: inherit;
    height: 71px;
    border-bottom: 1px solid rgba(216, 216, 216, 0.1);
}
.menu{
    width:inherit;
    overflow: hidden;
    min-height: 240px;
    margin-top: 28px;
    left: 0px;
    top: 102px;
    border-bottom: 1px solid rgba(216, 216, 216, 0.06);
    
}
menu a{
    text-decoration: none;
    color: #FFFFFF;
}
.btn{
    margin-left: 30px;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 20.23px;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.menu-item{
    width: inherit;
    list-style: none;
    overflow: hidden;
    padding-top: 2px;
    padding-bottom: 13px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
   
}
.menu-icon{
    width: 12px;
    height: 6px;
    fill: #FFFFFF;
    margin-right: 30px ;
    margin-top: 7px;
}
.menu-item__sub{
    overflow: hidden;
    transition: max-height 0.3s;
    max-height: 0;
    width: inherit;
}
.menu-item__sub a{
    display: block;
    padding: 15px;
    height: 40px;
    position: relative;
    cursor: pointer;
    padding-left: 50px;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.menu-item:target .menu-item__sub{
    max-height: 600%;
}
.menu-item:target .menu-icon{
    transform: rotate(180deg);
}
.menu-item__sub-item{
    width: inherit;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: left;
    opacity: 0.5;
}
.menu-item__sub-item ::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 3px;
    height: 100%;
    background: var(--violet);
    transform: translateX(-48px);
    transition: 0s;
    opacity: 0;
}
.menu-item__sub-item :hover::before{
    opacity: 1;
    transform:  translateX(1);
}
.menu-item__sub-item:hover{
    background: #ffffff08;
}
.menu-item__sub-item:hover .icon{
    background: #ffffff08;
    fill: #6B69F9;
}
.menu-item__sub a{
    display:block;
    flex-wrap: wrap;
}
.icon{
    display: block;
    fill:white;
    height: 18px;
    width: 18px;
    margin-left: 30px;
}
/*switcher start*/
.mailing{
   position: absolute; 
   left: 30px;
    top: 757px;
    width: 220px;
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.mailing p{
    color: #FFFFFF;
    opacity: 0.5;
    top: 6px;
    line-height: 10px;
    font-size: 14px;
    justify-content: space-between;
}
.toggle-button{
    position: relative;
    width: 42px;
    height: 23px;
    cursor: pointer;
    background:transparent;
    border-radius: 30px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    transition: all 0.3s cubic-bezier(0.2, 0.85, 0.32, 1.2);
}
.toggle-button::after {
    content: "";
    position: absolute;
    left: 3px;
    top: 2px;
    width: 16px;
    height: 16px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    transform: translateX(0);
    transition: all 0.3s cubic-bezier(0.2, 0.85, 0.32, 1.2);
  }
  .toggle-button:checked::after {
    transform: translateX(calc(100% + 3px));
    background-color:#6B69F9 ;  
  }
  .toggle-button:checked {
    background-color:transparent;
  }
  /*main content start*/
  .content-conteiner{
    position: fixed;
    overflow: scroll;
    scroll-behavior: smooth;
     display: block;
    flex-wrap: wrap;
    top: 71px;
    left: 280px;
    width: calc(100vw - 280px);
    height: calc(100vh - 71px);
    min-width: 1440px;
  }
.slider-wrapper{
    width: 1050px;
    height: 360px;
    margin-left: 55px; 
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    
  }
.slider-header{
    height: 41px;
    width: inherit;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
  .course{
      height: 35px;
      width: fit-content;
      flex-wrap: wrap;
      display: block;
      margin-left: 0%;
      
  }
  h1{
      color: #FFFFFF;
      opacity: 0.4;
      text-transform: uppercase;
      font-size: 11px;
      line-height: 15.9px;
  }
  h2{
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 22px;
    line-height: 18px;
    padding-top: 7px ;
  }
.slider-nav{
    display: flex;
    flex-wrap: wrap;
      height: inherit;
      width: 65px;
      justify-content: space-between;
}
.all-lections-btn{
    height: 30px;
    width: 86px;
    background: linear-gradient(90deg, #6B69F9 0%, #6F6EFF 100%);;
    border-radius: 6px;
    padding-top: 7px;
    padding-left: 12px;
}
  .all-lections-btn a{ 
    position: absolute;
    letter-spacing: 0.5px;
    height: 17px;
    color: #FFFFFF;
    font-size: 12px;
    line-height: 17px;
}
 .prev-next{
    width: 30px;
    height: 30px;
    border: 1px solid #ffffff9a ;
    color:#ffffff;
    background: transparent;
    border-radius: 4px;
    padding-top: 10px;
    padding-left: 10px;
  }
.nav-wrapper{
    height: inherit;
    width: 160px;
    justify-content: space-between;
    display: flex;
    margin-top: 13px;
}
.slides-wrapper{
    height: 294px;
    width: inherit;
    flex-wrap:wrap;
    display: flex;
    justify-content: space-between ;
    overflow: hidden;
}
.slide{
    height: 294px;
    width: 255px;
    background: rgba(255, 255, 255,0.04);
    overflow: hidden;
    border-radius: 6px;
}
.picture{
      height: 144px;
      width: 255px;
      overflow: hidden;
}
.course-info-container{
    width: inherit;
    height: 150px;
    display: block;
}
.course-info{
    padding-top: 7px;
    padding-left: 15px;
    height: 89px;
    display: block;
    flex-wrap: wrap;
}
h3{
    font-size: 16px;
    line-height: 12px;
    color: #FFFFFF;
    padding-top: 15px;
}
summary{
    color: #FFFFFF;
    font-size: 14px;
    line-height: 18px;
    opacity: 0.5;
    padding-top: 10px;
}
.watch-container{
    height: 61px;
    width: inherit;
    border-top: 1px solid #d8d8d81a;
    flex-wrap:wrap;
    display: flex;
    align-items: center;
    justify-content:space-between;
}
.watch-container p{
    padding-left: 15px;
    font-size: 13px;
    line-height: 10px;
    height: 10px;
    color: #FFFFFF;
}
.watch-btn{
    width: 89px;
    height: 30px;
    background:#6B69F9;
    border-radius: 4px;
    align-items: center;
    display: flex;
    flex-wrap:wrap;
    color: #FFFFFF;
    margin-right: 15px;
}
.watch-btn a{
    padding-left:18px ;
    color: #FFFFFF;
}
.lection-btn{
    position: absolute;
    margin-top: 15px;
    margin-left: 15px;
    width: 50px;
    height: 20px;
    background:#6F6EFF;
    border-radius: 3px;
    padding-left: 6px;
    padding-top: 4px;
}
.lection-btn a{
    color: #FFFFFF;
    font-size: 12px;
    line-height: 12px;
}
.icon-slider{
    height: 10px;
    width: 6px;
    fill: #FFFFFF;
}
